* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 3.5mm;
    color: #eceff4;
}

window#waybar {
    background: #3b4252;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    box-shadow: inset 0 -0.5em transparent;
    padding: 0.3em 0.8em;
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    border-bottom: 0.2em solid;
}

#workspaces button.urgent {
    background-color: #ba2922;
}

#mode {
}

#window label {
    padding: 0.3em 0.8em;
    font-size: 1.2em;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0.3em 0.8em;
    border-radius: 0.4em;
}

#battery.charging, #battery.plugged {
    background-color: #a3be8c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
