window#waybar {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 3.4mm;
  font-weight: bold;
  color: #eceff4;
  background: rgba(46, 52, 64, 0.6);
}

label {
  text-shadow: 0px -1px 1px black;
  padding: 0.2em 0 0.4em 0;
}

window#waybar > box {
  margin: 0 0.4em;
}

#taskbar button {
  padding: 0 0.4em;
  border: none;
  border-radius: 5px;
  margin: 0.4em 0.2em;
  color: currentcolor;
}

#taskbar button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
}

#workspaces button {
  padding: 0 0.7em;
  border: none;
  border-radius: 5px;
  margin: 0.4em 0.2em;
  color: currentcolor;
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  text-shadow: inherit;
}

#workspaces button.focused {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  text-shadow: inherit;
}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  text-shadow: inherit;
}

#workspaces button.urgent {
  background-color: #ba2922;
}

#window label {
  padding: 0.2em 0 0.4em 0;
}

menu {
  background: rgba(166, 172, 183, 0.95);
}

menu label {
  color: #2e3440;
  text-shadow: none;
}

#tray window.popup {
  color: currentcolor;
  font-weight: normal;
}

tooltip {
  /* border-radius: 1.5em; */
  background: rgba(166, 172, 183, 0.95);
}

tooltip label {
  color: #2e3440;
  text-shadow: none;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0.2em 0.5em 0.4em 0.5em;
  margin: 0.4em 0.2em;
  border-radius: 5px;
}

#battery.charging, #battery.plugged {
  background-color: #a3be8c;
  box-shadow: 0px 2px 2px black;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #bf616a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted {
  background-color: #90b1b1;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
